# -----------------------------
# Python
# -----------------------------
venv/
__pycache__/
*.pyc

# -----------------------------
# Secrets & Credentials
# -----------------------------
.env
*.pem
*.key
*.crt

# -----------------------------
# Logs & Reports
# -----------------------------
logs/
*.log
reports/
*.csv
*.xlsx

# -----------------------------
# OS / Editor files
# -----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
